# ---------------------------------
# 依存関係ライブラリ (重いので除外)
# ---------------------------------
node_modules/
**/node_modules/

# ---------------------------------
# ビルド生成物 (自動生成されるので除外)
# ---------------------------------
/backend/dist/
/frontend/build/

# ---------------------------------
# 環境設定・秘密情報 (パスワードなどは除外)
# ---------------------------------
.env
.env.local
.DS_Store

# ---------------------------------
# エディタ設定
# ---------------------------------
.vscode/
.idea/

# ---------------------------------
# ログファイル
# ---------------------------------
npm-debug.log*
yarn-debug.log*


node_modules
dist
.env
.DS_Store